
<div id="ReservationModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-lg">
                @using (Html.BeginForm("CreateReservation", "Reservations", null, FormMethod.Post, new { id = "reservationCreateForm" }))
                {

                    <div id="htmlContainerCreateReservation" style="padding: 0 20px 0 20px;">
                    </div>
                }
            </div>
            <div class="modal-footer alert-secondary">
            </div>
        </div>
    </div>
</div>
