
<div id="ToolReservationModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rezervacija alata</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateToolReservation", "Reservations", null, FormMethod.Post, new { id = "toolReservationCreateForm" }))
                {

                    <div id="htmlContainerToolReservation" style="padding: 0 20px 0 20px;">
                    </div>
                }
            </div>
            <div class="modal-footer alert-secondary">
            </div>
        </div>
    </div>
</div>



