
<div id="ToolReservationModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered custom-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tool Reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-lg">
                @*@using (Ajax.BeginForm("CreateReservation", "Reservations", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "handleSuccessCreateToolReservation",
                        OnFailure = "handleError"
                    },
                        new { id = "toolRreservationCreateForm" }))
                    {*@

                <div id="htmlContainerCreateToolReservation" style="padding: 0 20px 0 20px;">
                </div>
                @*}*@
            </div>
            <div class="modal-footer alert-secondary">
                @*@Html.SubmitButtonNoLoaderWithConfirm( StringsTable.Save, StringsTable.Confirm_UpdateEmployee, "employeeUpdateForm", "btn btn-success" )
                    @Html.CancelModalButton()*@
            </div>
        </div>
    </div>
</div>
