@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <button href="#!" class="btn btn-primary" id="btnCreate">Unesi rezervaciju</button>
        <table id="reservations" class="table table-bordered table-hover dataTable no-footer" width="100%">
            <thead>
                <tr>
                    <th>Ime i Prezime</th>

                    <th>Datum i vrijeme od</th>

                    <th>Napomena</th>

                    <th>Tip alata</th>

                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</main>
@section Scripts
{
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#reservations').DataTable({
                 "serverSide": true,
                 "ajax": {
                     "type": "POST",
                     "url": '@Url.Action("ReservationsHandler","Reservations")',
                     "contentType": 'application/json; charset=utf-8',
                     'data': function (data) { return data = JSON.stringify(data); }
                 },
                 "drawCallback": function( settings ) {
                     //$.hideLoading();
                 },
                 "pageLength": 50,
                 "searchDelay": 400,
                 "processing": false,
                 "paging": true,
                 "deferRender": true,
                 "columns": [{ "data": "ImePrez"  },
                     { "data": "From" },
                     { "data": "Note" },
                     { "data": "ToolType" },
                     {
                         "width": "20px", "orderable": false, "render": function (data, type, row, meta) {
                             var htmlChunk = '' + '<a class="editItem" data-id="' + row.ID + '" href="#"><span class="fa fa-lg fa-pencil"></span></a>';
                             htmlChunk += '<a class="deleteItem" data-id="' + row.ID + '" href="#"><span class="fa fa-lg fa-trash" style="padding-top:10px"></span></a>';

                             return htmlChunk;
                         }
                     }]
                 });
        });
    </script>
}